body{
  display: flex;
  justify-content: center;
}
.container-login{
  display: flex;
  justify-content: center;;
  height: 500px;
  width: 50%;
  margin-top: 100px;
  border: 4px solid #aaaa;
  border-radius: 10px;
}

.container-login form {
  width:700px;
  height: 200px;
  display: flex;
  justify-items: center;
  align-items: center;
  background-color: #aaaa;
  margin-top: 125px;
}

.inputLogin{
  margin-left:55px ;
}
.inputLogin input{
  width: 400px;
  font-size: 1.2em;
  padding: 5px 5px 5px 10px;
  border-top: 10px;
  border-left: 10px;
  border-right: 10px;
  outline:none;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  background-color: aqua;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    font-weight:700;
  }
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;

  border-image-slice: 1;
}

.container-bttn {
  width: 400px;
  height: 30px;
  display: flex;
  margin-left: 75px;
}
.container-bttn button {
  width: 90px;
}


.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;
    font-weight:700;
  }
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e,#38ef7d);
  border-image-slice: 1;
}
/* reset input */
.form__field{
  &:required,&:invalid { box-shadow:none; }
}
